body {
    font-family: "Corbel Light", serif;
}

/* NAVBAR */
.page-top {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}

.page-top:hover {
    transform: translateX(10px);
}

.nav-dark {
    background-color: #212529;
    transition: all .5s ease-in-out;
}

.transparent-nav {
    background-color: rgba(40, 40, 40, 0.9);
    transition: all .5s ease-in-out;
}

/* DARK SCROLLBAR */
::-webkit-scrollbar {
    width: 18px;
    height: 12px;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Style scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #202223;
}

::-webkit-scrollbar-track {
    background-color: #444;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2c2b2b;
}

::-webkit-scrollbar-corner {
    background-color: #444;
}


/* ANIMATIONS */
.fade-in-2 {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out-2 {
    animation: fadeOut 1.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pop-up {
    transition: all 0.3s ease-in-out;
}

.pop-up:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.stack-icon {
    transition: all 0.2s ease-in-out;
    display: block;
    cursor: pointer;
}

.stack-icon:hover {
    transform: rotate3d(1, 2, 1, 10deg) translateY(-8px);
    text-shadow: 1px 1px 2px #ffffff, 0 0 20px #ffffff, 0 0 3px #c74646;
}

.resume-link {
    transition: all .3s ease-in-out;
    color: white;
}

.resume-link:hover {
    color: #a6a6a6;
}

.social-icon {
    transition: all 0.2s ease-in-out;
}

.social-icon:hover {
    transform: rotate3d(1, 2, 1, 2deg) translateY(-6px);
    text-shadow: 1px 1px 1px #ffffff, 0 0 5px #ffffff, 0 0 1px #c74646;
}
