<div class="container-fluid mt-auto bg-dark ">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
               fill="currentColor" class="bi bi-code-slash me-1"
               viewBox="0 0 16 16">
            <path
                d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"></path>
          </svg>
          ANDREW HAWK
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot"
                   viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
              </svg>
          portfolio
        </a>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-white social-icon" href="https://www.linkedin.com/in/andrew-hawk-450455224/" rel="noopener"
             target="_blank" aria-label="Link to Linkedin profile" data-bs-toggle="tooltip"
             data-bs-title="Linkedin Profile" data-bs-placement="bottom" style="display: block">
            <i class="fa-brands fa-linkedin fa-2x"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-white social-icon" href="https://github.com/0bscurity" rel="noopener" target="_blank"
             aria-label="Link to Github profile" data-bs-toggle="tooltip" data-bs-title="Github Profile"
             data-bs-placement="bottom" style="display: block">
            <i class="fa-brands fa-square-github fa-2x"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-white social-icon" href="mailto:portfolio@andrewhawk.dev" aria-label="Link to email"
             data-bs-toggle="tooltip" data-bs-title="Email Me!" data-bs-placement="bottom" style="display: block">
            <i class="fa-solid fa-square-envelope fa-2x"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>